
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('./header-footer.css');

:root{
    /*Light Mode Colors*/
    /*https://coolors.co/006e9d-191923-ffffff-ff1d25*/
    --primary-color:#006E9D;
    --secondary-color:#191923;
    --header-color:#525252;
    --background-color:#FFFFFF;
    --accent-color:#ff1d25;

    /*Fonts*/
    --primary-font: 'Russo One', 'Comic Sans MS', sans-serif;
    
}

body{
    all: unset;
    font-family: var(--primary-font);
}