
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('./header-footer.css');

:root{
    /*Light Mode Colors*/
    /*https://coolors.co/006e9d-191923-ffffff-ff1d25*/
    --primary-color:#006E9D;
    --secondary-color:#191923;
    --secondary-color-semi-transparent:#191923dd;
    --header-color:#525252;
    --background-color:#FFFFFF;
    --accent-color:#ff1d25;

    /*Fonts*/
    --primary-font: 'Russo One', 'Comic Sans MS', sans-serif;
    
}

body{
    all: unset;
    font-family: var(--primary-font);
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vw;
    /* min-height: calc(100vh - 100px); */
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    flex: 1;
    overflow: auto;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 100px;
    font-family: var(--primary-font);
}

button:hover {
    cursor: pointer;
}

/* Background container */
#sliding-background-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

/* Sliding background */
.sliding-background {
    animation-name: background-slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sliding-background {
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 150vw;
    min-height: 150vh;
    position: absolute;
}

/* Animation for sliding background */
@keyframes background-slide {
    0% {
        transform: translate(-14.2857%, 0);
    }
    100% {
        transform: translate(0, -5.5555%);
    }
}
