
@import url('./global.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  #hints{
    display: flex;
    flex-direction: column;
    width: 100%;

    #silhouette {
      width: 15%;
      padding: 5%;
      align-self: center;
      image-rendering: pixelated;
    }

    #reveal {
      width: 10%;
      align-self: center;
    }
  }
}