
@import url('./global.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hints{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#silhouette {
  width: 25%;
  padding: 5%;
  align-self: center;
  image-rendering: pixelated;
}

.isShilhouette {
  filter: brightness(0) invert(0);

  /* Prevents Draging to reveal image bug */
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;

  /* Prevents highlighting over image */
  user-select: none;          /* Standard */
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
}

#reveal {
  width: 10%;
  align-self: center;
}