
@import url('./global.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hints{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#silhouette {
  width: 25%;
  padding: 20px;
  align-self: center;
  image-rendering: pixelated;
}

.isShilhouette {
  filter: brightness(0) invert(0);

  /* Prevents Draging to reveal image bug */
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;

  /* Prevents highlighting over image */
  user-select: none;          /* Standard */
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
}

#reveal {
  align-self: center;
}

.background-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.background-box h1 {
  margin: 0;
}

#congrats-dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: var(--secondary-color-semi-transparent);
}

#congrats-dialog > div > *:not(button) {
  margin: 0;
  padding: 0;
}

#congrats-dialog img {
  height: 300px;
}

#congrats-dialog > div {
  width: fit-content;
  background-color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
