header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  margin: 0;
  color: white;
  height: 100px;
  font-size: x-large;
}

/* Left header */
#left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#left-header img {
  width: 80%;
  height: 80%;
}

/* Right header */
#right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#right-header a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#right-header a:hover {
  background-color: black;
}

#right-header button {
  background: none;
  border: 0;
  height: 100%;
}

#right-header button img {
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}

#right-header button:hover {
  background-color: black;
}
