
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  margin: 0;
  color: white;
  height: 100px;
  font-size: x-large;

  #left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    img {
      width: 80%;
      height: 80%;
    }
  }

  #right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;

      &:hover {
        background-color: black;
      }
    }

    button {
        background: none;
        border: 0;
        height: 100%;
        
        img {
            height: 80%;
            border-radius: 50%;
            object-fit: cover;
        }

        &:hover{
            background-color: black;
        }
    }
  }
}
