/* Header */
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  height: 100px;
  font-size: x-large;
  margin: 0;
}

/* Left header */
#left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

#left-header img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Right header */
#right-header {
  display: flex;
  align-items: center;
  height: 100%;
}

#right-header > a {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#right-header > a:hover {
  background-color: black;
}

/* Dropdown */
.dropdown {
  position: relative;
  height: inherit;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  height: 100%;
}

.dropbtn img {
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.dropbtn:hover {
  background-color: black;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  min-width: 160px;
  width: 400px;
}

.dropdown-content > * {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.dropdown-content > *:hover {
  background-color: black;
}

.dropdown-content.show {
  display: flex;
}

.switch-container {
  width: 100%;
  display: flex;
  align-items: center;  /* vertically center text and slider */
  gap: 10px;            /* space between text and slider */
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  flex-shrink: 0;       /* prevents it from shrinking in flex */
  
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 28px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffa5a8;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

footer {
  background-color: var(--secondary-color);
  padding: 20px;
  color: white;
  width: 100vw;
}

footer > * {
  margin: 0;
  padding: 0;
}
