
@import url('./variables.css');

body {
    margin: 0;
}

#sliding-background-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

#sliding-background {
    min-width: 120vw;
    min-height: 110vh;
    position: absolute;
    animation-name: background-slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#game-settings {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: solid black 1px;
    width: 100vw;
    max-width: 500px;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes background-slide {
    0% {
        transform: translate(-14.2857%, 0);
    }
    100% {
        transform: translate(0, -10%);
    }
}
