
@import url('./global.css');

#game-settings {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: solid black 1px;
    width: 100vw;
    max-width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

summary {
    user-select: none;
}

summary:hover {
    cursor: pointer;
}

#gen-grid, #type-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

details > div > div {
    display: flex;
    justify-self: center;
    width: 60%;
    justify-content: space-between;
}

button {
    margin: 0 auto;
}

.toggle-div {
    padding-top: 20px;
    padding-bottom: 20px;
}
