
<<<<<<< HEAD
@import url('./variables.css');

body {
    margin: 0;
}

#sliding-background-container {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#sliding-background {
    height: 110vw;
    position: absolute;
    animation-name: background-slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes background-slide {
    0% {
        transform: translate(-14.2857%, 0);
    }
    100% {
        transform: translate(0, -10%);
    }
}
=======
>>>>>>> e3b99a4d2c3bd0b78c2e985800c1cfc0c16a5722
