:root{
    /*Light Mode Colors*/
    /*https://coolors.co/006e9d-191923-ffffff-ff1d25*/
    --primary-color:#006E9D;
    --secondary-color:#191923;
    --background-color:#FFFFFF;
    --accent-color:#ff1d25;
    
}